
h1 {
  text-shadow: 1px 1px 1px #ccc;
  font-family: 'Corben', Georgia, Times, serif;
  text-align: center;
}

p {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
 
  text-align: center;
}

h1 {
 
  text-align: center;
}
